%h1 All Users

%table#users
  %thead
    %tr
      %th User id
      %th User email
      %th Action
  %tbody
    - @users.each do |userToFollow|
      %tr
        %td= userToFollow.id
        %td= userToFollow.email
        %td= link_to "Follow me", "/follow-completed/#{userToFollow.id}"


  .row
    = link_to 'Back', "/users/#{current_user.id}", class: ['btn', 'btn-success']